<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="roller-info-only" class="org.apache.log4j.RollingFileAppender">
	<param name="maxFileSize" value="100MB"/>
	<param name="MaxBackupIndex" value="2"/>
	<param name="File" value="C:/Users/edgri/eclipse-workspace-jee-2019-03/Ed_GSeleniumProject/src/ppkgzEdSelCertProj/test-output-log4j/Log4jOutput.log"/>
	    <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" 
		  value="%d{yyyy-MM-dd HH:mm:ss,SSS} %c [%M] %x %-10p %m%n" />
	    </layout>
	</appender>
	<root>
		<level value="INFO" />
		<appender-ref ref="roller-info-only" />
	</root>
</log4j:configuration>